/* ========== [header] ========== */
header .logo {max-width: 250px; position: fixed; top: 50px; left: 50px; z-index: 5;}
/** languege **/
.languege {position: fixed; top: 40px; right: 50px; z-index: 5;}
.languege li {float: left;margin-left: 20px;}
.languege li a {color: rgba(0,0,0,0.5);transition: all 0.5s;}
.languege li a:hover {text-decoration: underline;color: rgba(0,0,0,1)}

/** gnb **/
.mainNavi {position: fixed; top: 50%; left: 10%; margin-top: -100px; z-index: 5; display: none;}
.mainNavi a {display: block; height: 60px; font-size: 14px; font-weight: 500; color: #000; overflow: hidden; opacity: 0.8; transition: all 0.5s;}
.mainNavi li:first-child {display: none;}
.mainNavi .num {font-size: 16px; color: #f8b418; display: block;}
.mainNavi .blank {display: block; width: 8px; height: 8px; border: 1px solid rgba(0,0,0,0.5); border-radius: 8px; margin: 0 auto ;}




.section.main {background: #f8b418;}
.section.main .outer {width: 100%; height: 100%; display: table; text-align: center;}
.section.main .inner {width: 100%; height: 100%; display: table-cell; vertical-align: middle;}
.section.main .slogan {font-size: 50px; color: #fff;}

/* ========== [footer] ========== */
#sec5 {background: #93979f; height: auto !important; padding: 50px 0;}
.footer .footer_wrap {width: 1340px; margin: 0 auto;}
.footer .footer_wrap > div {float: left;}
.footer .footer_wrap .f_logo {width: 20%; margin-right: 50px;}
.footer .footer_wrap .f_logo img {width: 100%;}
.footer .footer_wrap .f_copy {width: 50%; color: #fff;}
.footer .footer_wrap .f_copy > ul > li {float: left; margin-right: 20px;}
.footer .footer_wrap .f_copy > ul > li > a {color: #fff;}
.footer .footer_wrap .f_copy > ul > :nth  -child(odd):hover {text-decoration: underline;}
.footer .footer_wrap .f_copy > p {font-size: 12px;}
.footer .footer_wrap .f_site {width: 195px; height: 35px; line-height: 35px; padding-left: 10px; border: 1px solid #bbb; color: #e1e1e1; cursor: pointer; position: relative;}
.f_site > .fa {float: right; padding-right: 10px; line-height: 35px; }
.f_site > .site_list {display: none; border: 1px solid #bbb; border-bottom: 0; background: #93979f; padding-left: 10px; position: absolute; width: 101%; height: auto; top: -107px; left: -1px; box-sizing: border-box; z-index: 10;}
.f_site > .site_list a {color: #fff;}
