body {font-family: 'GyeonggiTitle' !important;font-weight:normal;font-size:14px;color:#555;line-height:20px}
h1, h2, h3, h4, h5, h6, p, a, div, li, span {font-family: 'GyeonggiTitle' !important;font-weight:200;}
input, textarea, select, button {font-family: 'GyeonggiTitle' !important;font-size:14px;letter-spacing:0;color:#555;vertical-align:middle}


/* ========== [header] ========== */
/** gnb **/
#menu {position: fixed; top: 11%; left: 50%; transform: translateX(-50%); z-index: 100;}
#menu li {position: relative; float: left; margin-right: 50px;}
#menu li div {width: 0; height: 2px; background-color: #f8b418; position: absolute; transition: all 0.5s;}
#menu li:hover div {width: 100%;}
#menu li.active div {width: 100%;}
#menu a {font-size: 32px; font-weight: 200; letter-spacing: 2px; color: #cdcdcd; overflow: hidden;}


header .topLogo {max-width: 700px; position: fixed; left: 50%; transform: translateX(-50%); margin-top: 30px; z-index: 100;}
header .scroll {position: fixed; left: 50%; bottom: 5%; transform: translateX(-50%); z-index: 100; transition: all .3s; animation: bound .6s ease-in infinite alternate; cursor: pointer;}
header .scroll .scroll-icon {width: 24px; height: 42px; border-radius: 40px; border: 2px solid #f8b418; position: relative; top: 0; left: 0; right: 0; margin: auto; transition: all .3s;}
header .scroll .scroll-icon:hover {background: #f8b418; border: 2px solid #fff;}
header .scroll .scroll-icon:before {display: block; content: "scroll"; font-size: 18px; font-weight: 200; color: #f8b418; position: absolute; top: -38px; left: -12px; transition: all .3s;}
header .scroll .scroll-icon:after {display: block; content: ""; width: 2px; height: 10px; background: #f8b418; margin: auto; position: absolute; top: 5px; left: 0; right: 0;}
header .scroll .scroll-icon:hover:after {background: #fff;}
@keyframes bound {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
/* ========== [section] ========== */
#fullpage section {width: 100%; height: 100%; position: relative; left: 0; top: 0; z-index: 99; opacity: 1;}
#fullpage section .secInner {position: relative; width: 100%; height: 100%; top: 0; left: 0;}
section .conBox {text-align: center; position: absolute; width: 100%; height: auto; top: 50%; transform: translateY(-50%);}


/* ========== [main] ========== */
section.main {background: url(../img/page1/bg1.jpg) center center no-repeat / cover;}
section.main .conTop > span {color: #f8b418;}
section.main .conTop {width: 100%; height: 110px; font-size: 65px; font-weight: 200; line-height: 110px; letter-spacing: 2px; color: #cdcdcd; background: rgba(0,0,0,0.8); margin: 0;}
section.main .conBott {width: 100%; height: 240px; font-size: 30px; font-weight: 200; line-height: 60px; letter-spacing: 1px; color: #cdcdcd; background: rgba(0,0,0,.5); padding: 30px 0;} 
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* ========== [vision] ========== */
section.vision {background: url(../img/page2/bg2.jpg) center center no-repeat / cover;}
section.vision ul {position: relative; top: 0; left: 0; width: 100%; max-width: 1140px; height: 100%; margin: 0 auto;}
section.vision .conTop {width: 100%; height: 240px; background: rgba(255,255,255,.3);}
section.vision .conTop li {position: relative; width: 25%; height: 100%; float: left; top: 100px; opacity: 0; transition: all .8s;}
section.vision .conTop li:first-child{transition-delay: 0.8s;}
section.vision .conTop li:nth-child(2){transition-delay: 0.85s;}
section.vision .conTop li:nth-child(3){transition-delay: 0.9s;}
section.vision .conTop li:last-child{transition-delay: 0.95s;}
section.vision .conTop li > img {position: absolute; max-width: 35%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
section.vision.active .conTop li {opacity: 1; top: 0;} 

section.vision .conBott {width: 100%; height: 110px; background: rgba(0,0,0,0.5);}
section.vision .conBott li {float: left; width: 25%; font-size: 35px; font-weight: 200; line-height: 110px; color: #f8b418; opacity: 0; transition: all .8s;}
section.vision .conBott li:first-child{transition-delay: 0.8s;}
section.vision .conBott li:nth-child(2){transition-delay: 0.85s;}
section.vision .conBott li:nth-child(3){transition-delay: 0.9s;}
section.vision .conBott li:last-child{transition-delay: .95s;}
section.vision.active .conBott li {opacity: 1;} 
section.vision p {font-size: 30px; font-weight: 200; line-height: 60px; letter-spacing: 1px; color: #cdcdcd; padding-top: 70px;}


/* ========== [business] ========== */
section.business {background: url(../img/page3/bg3.jpg) center center no-repeat / cover;}
section.business .busiWrap {position: relative; width: 100%; max-width: 1140px; margin: 0 auto; top: 55%; transform: translateY(-55%);}
section.business .busiBox {position: relative; width: 100%; height: 140px; background: rgba(0,0,0,.3); margin-bottom: 15px; top: 100px; opacity: 0; transition: all .8s;}
section.business .busiBox:first-child {transition-delay: 0.8s;}
section.business .busiBox:nth-child(2){transition-delay: 0.85s;}
section.business .busiBox:nth-child(3){transition-delay: 0.9s;}
section.business .busiBox:nth-child(4){transition-delay: 0.95s;}
section.business .busiBox:last-child{transition-delay: 1s;}
section.business.active .busiBox {opacity: 1; top: 0;} 

section.business .busiBox > a > div {float: left;}
section.business .busiImg {width: 30%; height: 100%; padding-left: 20px; display: table;}
section.business .busiImg .inner {display: table-cell; vertical-align: middle;}
section.business .busiName {width: 30%; font-size: 35px; font-weight: 200; line-height: 140px; color: #f8b418; text-align: center;}
section.business .busiCopy {width: 40%; height: 100%; display: table; text-align: center;}
section.business .busiCopy span {display: block; font-size: 28px; font-weight: 200; line-height: 40px; color: #cdcdcd;}
section.business .busiCopy .inner {display: table-cell; vertical-align: middle;}
section.business .soon {font-size: 30px; font-weight: 300; line-height: 30px; color: #666; position: relative; text-align: center;}
section.business .soon > .inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* ========== [sns] ========== */
section.sns {background: url(../img/page4/bg4.jpg) center center no-repeat / cover;}
section.sns .conBox {position: relative; max-width: 1140px; margin: 0 auto; top: 50%; transform: translateY(-50%);}
section.sns .conTop {width: 100%; height: 140px; font-size: 40px; font-weight: 200; color: #cdcdcd; text-align: center; line-height: 140px; background: rgba(0,0,0,.3); margin-bottom: 20px;}
section.sns .conBott {position: relative; width: 100%; height: 350px; background: rgba(0,0,0,.3);}
section.sns .conBott > ul {position: absolute; width: 80%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
section.sns .conBott p {font-size: 35px; font-weight: 200; color: #cdcdcd; text-align: center;}
section.sns .conBott li {position: relative; width: 25%; float: left; padding: 20px; top: 100px; opacity: 0; transition: all .8s;}
section.sns .conBott li:nth-child(2){transition-delay: 0.8s;}
section.sns .conBott li:nth-child(3){transition-delay: 0.85s;}
section.sns .conBott li:nth-child(4){transition-delay: 0.9s;}
section.sns .conBott li:last-child{transition-delay: 0.95s;}
section.sns.active .conBott li {opacity: 1; top: 0;}
section.sns .conBott li img {max-width: 80%; margin: 0 auto; padding: 10px;}

/* ========== [footer] ========== */
.footer > .fp-tableCell {height: auto !important;}
.footer {background: #575757; height: auto !important; padding: 30px 0;}
.footer .footer_wrap {width: 940px; margin: 0 auto;}
.footer .footer_wrap .f_Left {float: left; width: 40%;}
.footer .footer_wrap .f_logo {max-width: 50%; margin-bottom: 15px;}
.footer .footer_wrap .f_copy {color: #cdcdcd; font-size: 14px;}
.footer .footer_wrap .f_copy > ul > li {float: left; margin-right: 20px;}
.footer .footer_wrap .f_copy > ul > :nth-child(odd):hover {text-decoration: underline;}
.footer .footer_wrap .f_right {float: right; width: 30%; position: relative;}

.footer .footer_wrap .f_site {position: relative; float: right; width: 100%; height: 45px; line-height: 45px; padding-left: 20px; border: 1px solid #bbb; color: #e1e1e1; cursor: pointer; margin-bottom: 20px;}
.f_site > .fa {float: right; padding-right: 10px; line-height: 35px; }
.f_site > .site_list {display: none; text-align: left; border: 1px solid #bbb; border-bottom: 0; background: #93979f; padding-left: 20px; position: absolute; width: 282px; height: auto; top: -136px; left: -1px; box-sizing: border-box; z-index: 10;}
.f_site > .site_list a {color: #fff;}
.footer .footer_wrap .f_right p {font-size: 14px; color: #cdcdcd; text-align: center;}

