
/* ========== [header] ========== */
header .logo {max-width: 250px; position: fixed; top: 50px; left: 50px; z-index: 5;}
/** languege **/
.languege {position: fixed; top: 40px; right: 50px; z-index: 5;}
.languege li {float: left;margin-left: 20px;}
.languege li a {color: rgba(0,0,0,0.5);transition: all 0.5s;}
.languege li a:hover {text-decoration: underline;color: rgba(0,0,0,1)}

/** gnb **/
.mainNavi {position: fixed; top: 50%; left: 10%; margin-top: -100px; z-index: 5; display: none;}
.mainNavi a {display: block; height: 60px; font-size: 14px; font-weight: 500; color: #000; overflow: hidden; opacity: 0.8; transition: all 0.5s;}
.mainNavi li:first-child {display: none;}
.mainNavi .num {font-size: 16px; color: #f8b418; display: block;}
.mainNavi .blank {display: block; width: 8px; height: 8px; border: 1px solid rgba(0,0,0,0.5); border-radius: 8px; margin: 0 auto ;}

/* ========== [공통사항] ========== */
.mainWrap .section {width: 100%; height: 100%; position: relative; left: 0; top: 0; z-index: 99; opacity: 1;}
/** page con **/
.mainWrap .section .secIn {position: relative; width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.mainWrap .section .con {text-align: center;}
.mainWrap .section .con {
    word-wrap: break-word;
    word-break: keep-all;
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform, -moz-transform, -o-transform, -ms-transform, transform;
    -webkit-transition-duration: .4s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-property: opacity, -webkit-transform, -moz-transform, -o-transform, -ms-transform, transform;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.mainWrap .section .con .slogan, 
.mainWrap .section .con .tit{
    opacity: 0;
    transition-property: opacity, -webkit-transform, -moz-transform, -o-transform, -ms-transform, transform;
    -webkit-transition-property: opacity, -webkit-transform, -moz-transform, -o-transform, -ms-transform, transform;
    -webkit-duration: .7s;
    -webkit-transition-timing-function: cubic-bezier(0,0,.2,1);
    duration: .7s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
}
.section > div .slogan {font-size: 30px; font-weight: 500; margin-bottom: 10px;}
.section > div .tit {font-size: 18px; color: #555;}
.mainWrap .section .con .slogan,
.mainWrap .section .con .tit {overflow: hidden; transform: translateY(20px); -webkit-transform: translateY(20px); -moz-transform: translateY(20px); -o-transform: translateY(20px); -ms-transform: translateY(20px);}
/* ========== [.con active 실행] ========== */
.mainWrap .section.active .con {opacity: 1;}
.mainWrap .section.active .con .slogan, 
.mainWrap .section.active .con .tit{opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0);}
.mainWrap .section.active .slogan {-webkit-transition-delay: .55s; -webkit-transition-duration: .5s; transition-delay: .55s; transition-duration: .5s;}
.mainWrap .section.active .tit {-webkit-transition-delay: .55s; -webkit-transition-duration: .5s; transition-delay: .55s; transition-duration: .5s;}
.section .sec-con {position: absolute; width: 1340px; top: 50%; left: 50%; transform: translate(-50%, -50%); padding-bottom: 100px;}
.section .sec-con > .con {padding-bottom: 60px;}



/* ========== [#sec2] ========== */
.section.page2 .slogan {color: #f8b418;}

/* ========== [#sec3] ========== */
.section.page3 .slogan {color: #c40000;}
.page3 .sec-con .busi-list {width: 100%; height:520px; overflow:hidden;}
.page3 .sec-con .busi-list li {position: relative; float: left; width: 25%; height: 100%; overflow: hidden; transition: width 1s;}
.page3 .sec-con .busi-list li.busi1 {background: url("../img/page3/business_img01.jpg") center center no-repeat;}
.page3 .sec-con .busi-list li.busi2 {background: url("../img/page3/business_img02.jpg") center center no-repeat;}
.page3 .sec-con .busi-list li.busi3 {background: url("../img/page3/business_img03.jpg") center center no-repeat;}
.page3 .sec-con .busi-list li.busi4 {background: url("../img/page3/business_img04.jpg") center center no-repeat;}
.page3 .sec-con.active .busi-list li {width: 10.6666%;}
.page3 .sec-con.active .busi-list li.active {width: 60%;}
.page3 .sec-con .busi-list li .bg-black {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 4; opacity: 0; background: rgba(255, 255, 255, 0.25); transition: opacity 500ms;}
.page3 .sec-con.active .busi-list li .bg-black {opacity: 1;}
.page3 .sec-con.active .busi-list li.active .bg-black {opacity: 0;}
.page3 .sec-con .busi-list li .bg-hover {position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 100%; text-align: right; z-index: 5; opacity: 0; transition: opacity .5s .4s;}
.page3 .sec-con.active .busi-list li.active .bg-hover {opacity:1;transition:none;}
.page3 .sec-con .busi-list li .bg-hover img {position: absolute; right: -337px; top: 0; transition: all .9s;}
.page3 .sec-con .busi-list li.active .bg-hover img {right: 0;}
.page3 .sec-con .busi-list li.busi1 .bg-hover {background: url("../img/page3/business_img01_over.png") center center no-repeat;}
.page3 .sec-con .busi-list li.busi2 .bg-hover {background: url("../img/page3/business_img02_over.png") center center no-repeat;}
.page3 .sec-con .busi-list li.busi3 .bg-hover {background: url("../img/page3/business_img03_over.png") center center no-repeat;}
.page3 .sec-con .busi-list li.busi4 .bg-hover {background: url("../img/page3/business_img04_over.png") center center no-repeat;}
.page3 .sec-con .busi-list li .txtBox {font-size: 20px;}
.page3 .sec-con .busi-list li .txtBox .txt {position: absolute; top: 50%; left: 50%; transform: rotate(0.0001deg) translate(-50%, -50%); z-index: 6; opacity: 1; transition: opacity 500ms .3s;}
.page3 .sec-con.active .busi-list li .txtBox .txt {opacity: 0; transition: opacity 500ms;}
.page3 .sec-con .busi-list li .txtBox .txt-hover {position: absolute; left: 50%; top: 50%; transform: rotate(0.0001deg) translate(-50%, -50%); z-index: 6; opacity: 0; transition: opacity 500ms, transform 500ms;}
.page3 .sec-con .busi-list li .txtBox .txt-hover > span {display: block; margin: 10px 0;}
.page3 .sec-con.active .busi-list li .txtBox .txt-hover {transition: opacity 500ms 0.2s; opacity: 1;}
.page3 .sec-con.active .busi-list li.active .txtBox .txt-hover {transition: opacity 500ms 0; opacity: 0;}

/* ========== [#sec4] ========== */
.section.page4 .slogan {color: #755232;}
.page4 .box-list > li {float: left; height: 500px; position: relative;}
.page4 .box1 {width: 25%; background: url(../img/page4/box1.jpg) center center /cover no-repeat;}
.page4 .box2 {width: 50%;}
.page4 .box3 {width: 25%;}
.page4 .box h3 > span {display: block;}
.page4 .box h3 > span:first-child {font-size: 20px; margin-bottom: 15px;}
.page4 .box h3 > span:nth-child(2) {font-size: 14px;}
.page4 .box h3 > .btn {width: 130px; line-height: 36px; border: 1px solid #222; border-radius: 25px; font-size: 16px; margin-top: 30px;}
.page4 .box1 h3 {padding: 13% 15%;}
.page4 .box2 video {width: 100%; height: 100%;}
.page4 .box3 h3 {padding: 14% 10%;}
.page4 .box3 > div  {background: #f3f4f6; height: 50%;}
.page4 .box3 > div h3 {margin: 0 !important;}
.page4 .box3 .sns-box {border-top: 1px solid #e5e5e5;}
.page4 .box3 .sns {width: 50px; float: left; margin: 30px 15px 0 0;}
.page4 .box3 .sns img {width: 100%;}


/* ========== [#sec5] ========== */
.section.page5 .slogan {color: #1e69e2;}
.swiper-container {width: 100%; height: 500px !important;}
.swiper-slide {
height: 430px !important;
text-align: left;
font-size: 18px;
background: #fff;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-box-align: center;
-ms-flex-align: center;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {bottom: 20px;}
.swiper-button-prev, .swiper-button-next {font-size: 20px; width: 40px !important; height: 40px !important; line-height:38px !important; top: 30px !important; border: 1px solid #222; border-radius: 20px;}
.page5 .slide-txt {margin: 40px 0 0 20px;}
.page5 .slide-txt h4 {font-size: 14px;}
.page5 .slide-txt h3 {font-size: 16px;}
.page5 .slide-txt p {font-size: 12px;}
.foot-over {width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; z-index: 10; display: none;}
.foot-over.on {display: block;}

/* ========== [footer] ========== */
#sec6 {background: #93979f; height: auto !important; padding: 50px 0;}
.footer .footer_wrap {width: 1340px; margin: 0 auto;}
.footer .footer_wrap > div {float: left;}
.footer .footer_wrap .f_logo {width: 20%; margin-right: 50px;}
.footer .footer_wrap .f_logo img {width: 100%;}
.footer .footer_wrap .f_copy {width: 50%; color: #fff;}
.footer .footer_wrap .f_copy > ul > li {float: left; margin-right: 20px;}
.footer .footer_wrap .f_copy > ul > li > a {color: #fff;}
.footer .footer_wrap .f_copy > ul > :nth-child(odd):hover {text-decoration: underline;}
.footer .footer_wrap .f_copy > p {font-size: 12px;}
.footer .footer_wrap .f_site {width: 195px; height: 35px; line-height: 35px; padding-left: 10px; border: 1px solid #bbb; color: #e1e1e1; cursor: pointer; position: relative;}
.f_site > .fa {float: right; padding-right: 10px; line-height: 35px; }
.f_site > .site_list {display: none; border: 1px solid #bbb; border-bottom: 0; background: #93979f; padding-left: 10px; position: absolute; width: 101%; height: auto; top: -107px; left: -1px; box-sizing: border-box; z-index: 10;}
.f_site > .site_list a {color: #fff;}
